<div class="w-100 p-5">
    <form class="form" data-bind="submit: addUser">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" data-bind="textInput: name" />
            <span class="text-danger" style="font-size: small;" data-bind="visible: name.hasError, text: name.validationMessage"></span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" data-bind="textInput: email" />
            <span class="text-danger" style="font-size: small;" data-bind="visible: email.hasError, text: email.validationMessage"></span>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" data-bind="textInput: password" />
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="Confirm Password" data-bind="textInput: confirmPassword" />
            <span class="text-danger" style="font-size: small;" data-bind="visible: confirmPassword.hasError, text: confirmPassword.validationMessage"></span>
        </div>
        <button type="submit" class="btn btn-primary" data-bind="disable: !isValid()">Submit</button>
    </form>
</div>