<div class="mx-auto my-3 w-50">
    <form data-bind="submit: submitForm">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="Enter email" data-bind="textInput: email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" data-bind="textInput: password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="m-3 text-center">
        <span class="">
            New User? Sign Up <a href='/signup'>Here</a>
        </span>
    </div>
</div>